LENGTH_MIN_ED_1=3
LENGTH_MIN_ED_2=5
LENGTH_MIN_ED_3=8
LENGTH_MIN_ED_4=10

WEIGHT_EDIT_DISTANCE=28
WEIGHT_SOUNDEX=28
WEIGHT_LENGTH=3
WEIGHT_LAST_CHAR=1
WEIGHT_FIRST_CHAR=5
WEIGHT_FIRST_CHAR_UPPER=1
WEIGHT_FIRST_CHAR_LOWER=4
WEIGHT_ADD_REM_CHAR=0
WEIGHT_FUZZY_PHON=4
WEIGHT_JOINED_WORD=60

SEARCH_JOINED=true
REMOVE_JOINED_VARIATIONS=true
JOINED_WORD_LENGTH_MIN=2
JOINED_WORD_LENGTH_EDT=4
CLOSE_WORDS_CUT=20

DELIMITERS=, .\n\r\t:+!?;{}()[]%^<>=/\"«»_\#$\\|\u00bf\u201c\u201d
DELIMITERS_JOINED=@&*-\u2014

IGNORE_MIXED_CASE=true
IGNORE_UPPER_CASE=false
IGNORE_DIGIT_WORDS=true
IGNORE_INET_WORDS=true
CAPITALIZE_FIRST_LETTER=true
IGNORE_NON_WORDS=true
